<% include header %>
    <h1>Dólar pra Real</h1>
    <form method="get" action="cotacao">
        <div class="form-group">
            <input id="cota" class="form-control-lg" name="cotacao" type="number" placeholder="Cotação do Dólar" value="<%=cotacao%>" required pattern="[0-9]+([,\.][0-9]+)?" min="0" step="any">
        </div>
        
        <div class="form-group">
			<input id="qtd" class="form-control-lg" name="qtd" type="number" placeholder="Qtd de Dólares" required pattern="[0-9]+([,\.][0-9]+)?" min="0" step="any">
        </div>
        
        <div class="form-group">
			<button id="btn" class="btn btn-primary btn-lg">Convert</button>
        </div>
    </form>
<% include footer %>

