<% include header %>
        <h1>Tiago</h1>
        <form method="get" action="cotacao">
                <div><input name="cotacao" type="text" placeholder="Cotação do Dólar" value="<%=cotacao%>"></div>
                <div><input name="qtd" type="text" placeholder="Qtd de Dólares"></div>
                <div><button>Convert</button></div>
        </form>
<% include footer %>

